[client]
user    = root
port    = 5506
socket  = /opt/data2/mysqld.sock

ssl-ca=/opt/cert/ca-cert.pem
ssl-cert=/opt/cert/client-cert.pem
ssl-key=/opt/cert/client-key.pem

[mysqld_safe]
socket  = /opt/data2/mysqld.sock
nice    = 0

[mysqld]
user=mysql
server_id = 3
pid-file  = /opt/data2/mysqld.pid
socket    = /opt/data2/mysqld.sock
port      = 5506
basedir   = /opt/mariadb
datadir   = /opt/data2
tmpdir    = /tmp

binlog_format=ROW
bind-address=0.0.0.0

skip-host-cache
skip-external-locking
sql-mode="NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
character-set-server=utf8

max_connections         = 251
connect_timeout         = 10000
wait_timeout            = 6000
max_allowed_packet      = 16M
thread_cache_size       = 128
sort_buffer_size        = 4M
bulk_insert_buffer_size = 16M
tmp_table_size          = 256M
max_heap_table_size     = 32M

default_storage_engine=InnoDB
# you can't just change log file size, requires special procedure
#innodb_log_file_size      = 2G
#innodb_buffer_pool_size   = 7G
#innodb_log_files_in_group = 4
innodb_log_file_size       = 48M
innodb_buffer_pool_size    = 128M
innodb_log_files_in_group  = 1
innodb_log_buffer_size     = 8M
innodb_file_per_table      = 1
innodb_open_files          = 400
innodb_io_capacity         = 400
innodb_flush_method        = O_DIRECT

innodb_flush_log_at_trx_commit=1
innodb_thread_concurrency=0
innodb_read_io_threads=64
innodb_write_io_threads=64
innodb_autoextend_increment=64
innodb_buffer_pool_instances=8
innodb_concurrency_tickets=5000
innodb_old_blocks_time=1000
innodb_stats_on_metadata=0
innodb_checksum_algorithm=0
innodb_autoinc_lock_mode=2

back_log=80
flush_time=0
max_connect_errors=100
open_files_limit=4161
table_definition_cache=1400
sync_master_info=1000
sync_relay_log=10000
sync_relay_log_info=10000

ssl-ca=/opt/cert/ca-cert.pem
ssl-cert=/opt/cert/server-cert.pem
ssl-key=/opt/cert/server-key.pem

[galera]
wsrep_on=ON
wsrep_provider=/opt/mariadb/lib/galera/libgalera_smm.so
wsrep_provider_options="gcache.size=300M; gcache.page_size=300M"
wsrep_provider_options="socket.ssl_key=/opt/cert/server-key.pem;socket.ssl_cert=/opt/cert/server-cert.pem;socket.ssl_ca=/opt/cert/ca-cert.pem"
wsrep_provider_options="gcache.recover=yes"

# Galera Cluster Configuration
wsrep_cluster_address=gcomm://192.168.56.101:4567,192.168.56.101:5678
wsrep_cluster_name=mariadb_cluster

# Galera Node Configuration
wsrep_node_name=node2
wsrep_node_address=192.168.56.101:5678

# Galera Synchronization Configuration
wsrep_sst_method=rsync
wsrep_sst_auth=mysql:mysql

wsrep_provider_options = "socket.checksum=2"
wsrep_provider_options = "socket.ssl_cipher=AES128-SHA"
wsrep_slave_threads=8

ssl-ca=/opt/cert/ca-cert.pem
ssl-cert=/opt/cert/server-cert.pem
ssl-key=/opt/cert/server-key.pem

[mysqldump]
quick
quote-names
max_allowed_packet= 64M

[mysql]
no-auto-rehash  # faster start of mysql but no tab completion

[isamchk]
key_buffer      = 16M

